In [1]:
from earningscall import get_all_companies

for company in get_all_companies():
    print(f"{company.company_info} -- {company.company_info.sector} -- {company.company_info.industry}")

(NASDAQ: AAPL - Apple Inc.) -- Technology -- Consumer Electronics
(NASDAQ: MSFT - Microsoft Corporation) -- Technology -- Software - Infrastructure

In [5]:
import pandas as pd

EC_symbols = pd.read_csv('earningscallSymbolList.csv')
EC_symbols.head(2)

,exchange,symbol,name,sector,industry
0,NASDAQ,NDSN,Nordson Corporation - Common Stock,Industrials,Specialty Industrial Machinery
1,NASDAQ,KINS,"Kingstone Companies, Inc - Common Stock",Financial Services,Insurance - Property & Casualty

In [2]:
len(EC_symbols)

6030

In [4]:
file_path='../StocksUniverse/final_symbols.csv'
our_symbols = pd.read_csv(file_path)
our_symbols.head(2)

,cik,symbol,root,company_name,cusip,figi,class_figi,exchange,related,sector,...,mkt_cap,employees,shares_out,ipo_date,win_rate,total_count,recent_count,avg_abs_return,max_return,min_return
0,37785,FMC,FMC,FMC CORP,302491303,BBG000BJP882,BBG001S5R880,NYS,['CTVA'],BasicMaterials,...,6.669965e+09,6600.0,124840000.0,1986-05-29,0.612565,191.0,127.0,1.267042,5.355819,-7.628036
1,825542,SMG,SMG,SCOTTS MIRACLE-GRO CO,810186106,BBG000BT5PG5,BBG001S5W5H0,NYS,[],BasicMaterials,...,4.034961e+09,5300.0,57450000.0,1992-01-31,0.575163,153.0,109.0,2.225626,9.063994,-16.911301

In [6]:
# Get the intersection of symbols
common_symbols = set(EC_symbols['symbol']) & set(our_symbols['symbol'])

# Print the results
print(f"Total symbols in EC_symbols: {len(EC_symbols)}")
print(f"Total symbols in our_symbols: {len(our_symbols)}")
print(f"Number of overlapping symbols: {len(common_symbols)}")
print(f"Percentage overlap: {(len(common_symbols) / len(our_symbols)) * 100:.2f}%")

# If you want to see the actual overlapping symbols
overlap_df = our_symbols[our_symbols['symbol'].isin(common_symbols)]
print("\nFirst few overlapping symbols:")
print(overlap_df[['symbol', 'company_name']].head())

Total symbols in EC_symbols: 6030
Total symbols in our_symbols: 831
Number of overlapping symbols: 824
Percentage overlap: 99.16%

First few overlapping symbols:
  symbol           company_name
0    FMC               FMC CORP
1    SMG  SCOTTS MIRACLE-GRO CO
2    FLS         FLOWSERVE CORP
3   SMTC           SEMTECH CORP
4   SNPS           SYNOPSYS INC

### symbols not in EC_symbols

In [7]:
# Find symbols in our_symbols that are not in EC_symbols
missing_symbols = set(our_symbols['symbol']) - set(EC_symbols['symbol'])

# Create a DataFrame with the missing symbols
missing_df = our_symbols[our_symbols['symbol'].isin(missing_symbols)]

print(f"\nSymbols in our dataset but not in EC_symbols ({len(missing_symbols)} symbols):")
print(missing_df[['symbol', 'company_name']].to_string())

Symbols in our dataset but not in EC_symbols (7 symbols):
    symbol             company_name
50     THO      THOR INDUSTRIES INC
678   DNLI  DENALI THERAPEUTICS INC
681   PAGS    PAGSEGURO DIGITAL LTD
726   IDYA   IDEAYA BIOSCIENCES INC
747   ETNB                89BIO INC
757   PLRX  PLIANT THERAPEUTICS INC
769   NRIX   NURIX THERAPEUTICS INC